<head>
    <link rel="stylesheet" href="/public/css/filter.css">
</head>

<div class="filters">
    <div class="filter" id="filter" onclick="window.location.href='/listings/'">
        <div><i class="fa-solid fa-fire"></i></div>
        <div class="pp">Trending</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listings/type/Rooms'">
        <div><i class="fa-solid fa-bed"></i></div>
        <div class="pp">Rooms</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listings/type/Iconic Cities'">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <div class="pp">Iconic Cities</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listings/type/Mountains'">
        <div><i class="fa-solid fa-mountain"></i></div>
        <div class="pp">Mountains</div>
    </div>
    <div class="filter" id="filter"  onclick="window.location.href='/listings/type/castles'">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <div class="pp">castles</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listings/type/Amazing pools'">
        <div><i class="fa-solid fa-person-swimming"></i></i></div>
        <div class="pp">Amazing pools</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listings/type/Arctic'">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <div class="pp">Arctic</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listings/type/Farms'">
        <div><i class="fa-solid fa-cow"></i></div>
        <div class="pp">Farms</div>
    </div>
</div>