<head>
    <link rel="stylesheet" href="/public/css/filter.css">
</head>

<div class="filters">
    <div id="filter-tranding">
    <div id="filter" class="filtertranding">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
</div>
    <div id="filter">   
        <div><i class="fa-solid fa-ticket"></i></div>
        <p>Icons</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>BeachFort</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-water"></i></div>
        <p>LakeView</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pool</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-tree-city"></i></div>
        <p>Tree House</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
        <p>Ski/in</p>
    </div>
    <div id="filter">
        <div><i class="fa-brands fa-playstation"></i></div>
        <p>PlayArea</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-sailboat"></i></div>
        <p>BoatingArea</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Campzone</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
        <p>Ski/in</p>
    </div>
    <div id="filter">
        <div><i class="fa-brands fa-playstation"></i></div>
        <p>PlayArea</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-sailboat"></i></div>
        <p>BoatingArea</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Campzone</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
        <p>Ski/in</p>
    </div>
    <div id="filter">
        <div><i class="fa-brands fa-playstation"></i></div>
        <p>PlayArea</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-sailboat"></i></div>
        <p>BoatingArea</p>
    </div>
    <div id="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Campzone</p>
    </div>

</div>
