<footer>
    <div class="footer-container">
        <div class="social-info-i">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="info-brand">
            <p>&copy; Wanderlust Private limited</p>
        </div>
        <div class="social-privacy-info">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>